.topbar {
    background-color: #fff;
    display: flex;
    width: 100%;
    height: auto;
    justify-content: space-between;
}

.navbar-links {
    width: 50%;
    height: auto;
    margin: 1%;
}

.navbar-links a {
    color: #000;
    text-decoration: none;
    margin: 0 2%;
    transition: all 0.3s;
}

.navbar-links a:hover {
    color: gray;
    transition: all 0.3s;
}

.navbar-social {
    margin: 1%;
}

.navbar-social img {
    width: 30px;
    height: 30px;
    transition: all 0.3s;
}

.navbar-social img:hover {
    opacity: 0.8;
    transition: all 0.3s;
}