/* TOPBAR + NAVBARS */
.topbar {
    background-color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: auto;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.navbar-links {
    width: 80%;
    height: auto;
    margin: 1%;
}

.navbar-links a {
    color: #000;
    text-decoration: none;
    margin: 0 2%;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.navbar-links a:hover {
    color: gray;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.navbar-social {
    margin: 1%;
}

.navbar-social img {
    width: 30px;
    height: 30px;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.navbar-social img:hover {
    opacity: 0.8;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.navbar-links a:nth-child(2) {
    color: gray;
}
/* -------------------------------------------------------------------------------------------------------- */
/* CATEGORIES */
.categories1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    width: 100%;
    height: auto;
    margin: 1%;
}

.categories1 a {
    text-decoration: none;
    color: #fff;
}

.categories2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    width: 100%;
    height: 0;
    margin: 1%;
}

.categories2 a {
    text-decoration: none;
    color: #fff;
}

.cracking {
    background-image: url(../img/cracking.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 10px;
    border-radius: 10px;
    width: 300px;
    height: 200%;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.scanning {
    background-image: url(../img/scanning.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 10px;
    border-radius: 10px;
    width: 300px;
    height: 200%;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.outils {
    background-image: url(../img/outils.jpg);
    background-repeat: no-repeat;
    background-size: cover;    padding: 10px;
    border-radius: 10px;
    width: 300px;
    height: 200%;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.attaques-sans-fil {
    margin-top: 60%;
    background-image: url(../img/attaques-sans-fil.jpg);
    background-repeat: no-repeat;
    background-size: cover;    padding: 10px;
    border-radius: 10px;
    width: 300px;
    height: 210px;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.creation-virus {
    margin-top: 60%;
    background-image: url(../img/creation-virus.jpg);
    background-repeat: no-repeat;
    background-size: cover;    padding: 10px;
    border-radius: 10px;
    width: 300px;
    height: 210px;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.installation-kali {
    margin-top: 60%;
    background-image: url(../img/installation-kali.jpg);
    background-repeat: no-repeat;
    background-size: cover;    padding: 10px;
    border-radius: 10px;
    width: 300px;
    height: 210px;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.cracking:hover, .scanning:hover, .outils:hover, .attaques-sans-fil:hover, .creation-virus:hover, .installation-kali:hover {
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
}

@media only screen and (max-width: 900px) {
    .categories1 {
        position: absolute;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        width: 100%;
        height: auto;
        margin: 1%;
        padding: 0;
    }

    .categories2 {
        display: block;
        position: relative;
        top: 0;
        left: 1%;
        margin: 1%;
        padding: 0;
        width: 100%;
        height: 0;
    }

    .categories1 a, .categorie2 a {
        width: 100%;
        height: auto;
        margin: 1%;
        padding: 0;
    }

    .creation-virus, .installation-kali {
        margin: 1%;
    }

    .attaques-sans-fil {
        margin-left: 1%;
    }

    .cracking, .scanning, .outils, .attaques-sans-fil, .creation-virus, .installation-kali {
        width: 95%;
        height: auto;
        display: block;
        padding: 0;
        height: 100px;
    }

    .cracking h1, .scanning h1, .outils h1, .attaques-sans-fil h1, .creation-virus h1, .installation-kali h1 {
        padding-top: 3%;
    }

    .cracking:hover, .scanning:hover, .outils:hover, .attaques-sans-fil:hover, .creation-virus:hover, .installation-kali:hover {
        -webkit-transition: all 0.3s;
        -o-transition: all 0.3s;
        transition: all 0.3s;
        -webkit-transform: scale(1.03);
            -ms-transform: scale(1.03);
                transform: scale(1.03);
    }
}

@media only screen and (max-width: 700px) {
    .attaques-sans-fil {
        margin-top: 65%;
    }
}

@media only screen and (max-width: 650px) {
    .attaques-sans-fil {
        margin-top: 70%;
    }
}

@media only screen and (max-width: 600px) {
    .attaques-sans-fil {
        margin-top: 75%;
    }
}

@media only screen and (max-width: 550px) {
    .attaques-sans-fil {
        margin-top: 80%;
    }
}

@media only screen and (max-width: 511px) {
    .attaques-sans-fil {
        margin-top: 85%;
    }
}

@media only screen and (max-width: 479px) {
    .attaques-sans-fil {
        margin-top: 90%;
    }
}

@media only screen and (max-width: 452px) {
    .attaques-sans-fil {
        margin-top: 100%;
    }
}

@media only screen and (max-width: 405px) {
    .attaques-sans-fil {
        margin-top: 110%;
    }
}

@media only screen and (max-width: 368px) {
    .attaques-sans-fil {
        margin-top: 120%;
    }
}

@media only screen and (max-width: 338px) {
    .attaques-sans-fil {
        margin-top: 130%;
    }
}