.container {
    width: 100vw;
    height: 100vh;
}

.topbar {
    display: flex;
    background-color: #1a1919;
    height: 7vh;
    width: 100vw;
}

.topbar .navbar {
    display: flex;
    width: 100%;
    height: auto;
}

.topbar .navbar .links {
    position: relative;
    left: 1%;
    top: 1%;
    width: 50%;
    text-align: start;
    display: flex;
    align-items: center;
    padding: 1vh;
}

.topbar .navbar .links a {
    margin: 0 2vh;
    color: #ccc;
    font-weight: 600;
}

.topbar .navbar .links a:hover {
    color: #2d96ff;
}

.topbar .navbar .links .active {
    color: #2d96ff;
}

.topbar .navbar .links .active:hover {
    color: #ccc;
}

.topbar .navbar .social {
    position: relative;
    right: 1%;
    top: 1%;
    width: 50%;
    text-align: end;
}

.topbar .navbar .social img {
    width: 30px;
    height: auto;
}

.topbar .navbar .social a {
    position: relative;
    top: 1vh;
}

.social-tel {
    display: none;
}

@media only screen and (max-width: 500px) {
    .topbar {
        width: 99vw;
        height: 15vh;
    }
    
    .topbar .navbar .social {
        display: none;
    }

    .social-tel {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100vw;
        height: auto;
        margin-top: 1vH;
    }

    .social-tel img {
        width: 40vw;
        height: auto;
        margin-top: 1vh;
        border-radius: 20px;
        animation: discord-anim 1s infinite;
    }

    @keyframes discord-anim {
        0% {
            transform: scale(1);
        }

        50% {
            transform: scale(1.1);
        }

        100% {
            transform: scale(1);
        }
    }

    .topbar .navbar .links {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100vh;
    }

    .topbar .navbar .links a {
        padding: 1vh 0;
    }
}

.credits {
    background-color: #353535;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 1%;
    border-radius: 10px;
}

.credits h1 {
    color: #fff;
}

.credits h3 {
    color: #ccc;
}

.credits img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.contact {
    background-color: #353535;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 1%;
    border-radius: 10px;
}

.contact h1 {
    color: #fff;
}

.contact h3 {
    color: #ccc;
}

.dons {
    background-color: #353535;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 1%;
    border-radius: 10px;
}

.dons h1 {
    color: #fff;
}

.dons a {
    text-decoration: none;
}

.dons h3 {
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    color: #618eff;
}

.dons h3:hover {
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    color: #1d5cfe;
}