body {
    background-color: #202020;
}
/* TOPBAR + NAVBARS */
.topbar {
    background-color: #1a1919;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: auto;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.navbar-links {
    width: 80%;
    height: auto;
    margin: 1%;
}

.navbar-links a {
    color: grey;
    text-decoration: none;
    margin: 0 2%;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.navbar-links a:hover {
    color: #fff;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.navbar-social {
    margin: 1%;
}

.navbar-social img {
    width: 30px;
    height: 30px;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.navbar-social img:hover {
    opacity: 0.8;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.navbar-links a:nth-child(3) {
    color: #fff;
}
/* --------------------------------------------------------------------------------------------------------- */
/* CREDITS */
.credits {
    background-color: #353535;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 1%;
    border-radius: 10px;
}

.credits h1 {
    color: #fff;
}

.credits h3 {
    color: #ccc;
}

.credits img {
    width: 100px;
    height: 100px;
}

.contact {
    background-color: #353535;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 1%;
    border-radius: 10px;
}

.contact h1 {
    color: #fff;
}

.contact h3 {
    color: #ccc;
}

.dons {
    background-color: #353535;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 1%;
    border-radius: 10px;
}

.dons h1 {
    color: #fff;
}

.dons a {
    text-decoration: none;
}

.dons h3 {
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    color: #618eff;
}

.dons h3:hover {
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    color: #1d5cfe;
}