/* TOPBAR + NAVBAR */
.topbar {
    background-color: #1a1919;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: auto;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.navbar-links {
    width: 80%;
    height: auto;
    margin: 1%;
}

.navbar-links a {
    color: grey;
    text-decoration: none;
    margin: 0 2%;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.navbar-links a:hover {
    color: #fff;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.navbar-social {
    margin: 1%;
}

.discord img {
    width: 30px;
    height: 30px;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.navbar-social img:hover {
    opacity: 0.8;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
/* ------------------------------------------------------------------------------------------------------ */
/* MENU */
.menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 98%;
    height: auto;
    background-color: #1a1919;
    border-radius: 10px;
    margin: 1%;
}

.menu a {
    text-decoration: none;
    margin: 0.5% 1%;
    color: #ccc;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.menu a:hover {
    text-decoration: underline;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.menu h2, .menu h3 {
    margin: 1%;
}

.parties {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0 1%;
}

.parties a {
    text-decoration: none;
    color: blue;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.parties a:hover {
    text-decoration: underline;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.shodan_txtandimg img {
    border-radius: 10px;
    width: 20%;
    height: auto;
}

.littlebrother_txtandimg img {
    border-radius: 10px;
    width: 40%;
    height: auto;
}

.maltego_txtandimg img {
    border-radius: 10px;
    width: 30%;
    height: auto;
}

.recon-ng_txtandimg img {
    border-radius: 10px;
    width: 35%;
    height: auto;
}

.exiftool_txtandimg img {
    border-radius: 10px;
    width: 30%;
    height: auto;
}

.binwalk_txtandimg img {
    border-radius: 10px;
    width: 20%;
    height: auto;
}

.set_txtandimg img {
    border-radius: 10px;
    width: 20%;
    height: auto;
}

.msf_txtandimg img {
    border-radius: 10px;
    width: 25%;
    height: auto;
}

.seeker_txtandimg img {
    border-radius: 10px;
    width: 25%;
    height: auto;
}

.rkhunter_txtandimg img {
    border-radius: 10px;
    width: 25%;
    height: auto;
}

.fail2ban_txtandimg img {
    border-radius: 10px;
    width: 20%;
    height: auto;
}

.iptables_txtandimg img {
    border-radius: 10px;
    width: 20%;
    height: auto;
}

.htop_txtandimg img {
    border-radius: 10px;
    width: 30%;
    height: auto;
}

.ngrock_txtandimg img {
    border-radius: 10px;
}

h1 {
    color: #fff;
}

h2, h3, h4, p {
    color: #ccc;
}