/* TOPBAR + NAVBAR */
.topbar {
    background-color: #1a1919;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: auto;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.navbar-links {
    width: 80%;
    height: auto;
    margin: 1%;
}

.navbar-links a {
    color: grey;
    text-decoration: none;
    margin: 0 2%;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.navbar-links a:hover {
    color: #fff;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.navbar-social {
    margin: 1%;
}

.discord img {
    width: 30px;
    height: 30px;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.navbar-social img:hover {
    opacity: 0.8;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
/* ------------------------------------------------------------------------------------------------------ */
/* MENU */
.menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 98%;
    height: auto;
    background-color: #1a1919;
    border-radius: 10px;
    margin: 1%;
}

.menu a {
    text-decoration: none;
    margin: 0.5% 1%;
    color: #ccc;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.menu a:hover {
    text-decoration: underline;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.menu h2, .menu h3 {
    margin: 1%;
}

.parties {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0 1%;
}

.parties a {
    text-decoration: none;
    color: blue;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.parties a:hover {
    text-decoration: underline;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.warning {
    text-align: center;
    color: red;
}

.gobuster-dirbuster-dirsearch_img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.gobuster-dirbuster-dirsearch_img img {
    margin: 0 1%;
    width: 20%;
    height: auto;
    border-radius: 10px;
}

.nikto img {
    width: 10%;
    height: auto;
}

.joomscan img {
    border-radius: 10px;
    width: 30%;
    height: auto;
}

.wpscan img {
    border-radius: 10px;
    width: 30%;
    height: auto;
}

h1 {
    color: #fff;
}

h2, h3, h4, p {
    color: #ccc;
}