.topbar {
    display: flex;
    background-color: #1a1919;
    height: 7vh;
    width: 98.8vw;
}

.topbar .navbar {
    display: flex;
    width: 100%;
    height: auto;
}

.topbar .navbar .links {
    position: relative;
    left: 1%;
    top: 1%;
    width: 50%;
    text-align: start;
    display: flex;
    align-items: center;
    padding: 1vh;
}

.topbar .navbar .links a {
    margin: 0 2vh;
    color: #ccc;
    font-weight: 600;
}

.topbar .navbar .links a:hover {
    color: #2d96ff;
}

.topbar .navbar .links .active {
    color: #2d96ff;
}

.topbar .navbar .links .active:hover {
    color: #ccc;
}

.topbar .navbar .social {
    position: relative;
    right: 1%;
    top: 1%;
    width: 50%;
    text-align: end;
}

.topbar .navbar .social img {
    width: 30px;
    height: auto;
}

.topbar .navbar .social a {
    position: relative;
    top: 1vh;
}

.social-tel {
    display: none;
}

@media only screen and (max-width: 500px) {
    .topbar {
        width: 97vw;
        height: 15vh;
    }
    
    .topbar .navbar .social {
        display: none;
    }

    .social-tel {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 97vw;
        height: auto;
        margin-top: 1vh;
        margin-bottom: 1vh;
    }

    .social-tel img {
        width: 40vw;
        height: auto;
        margin-top: 1vh;
        border-radius: 20px;
        animation: discord-anim 1s infinite;
    }

    @keyframes discord-anim {
        0% {
            transform: scale(1);
        }

        50% {
            transform: scale(1.1);
        }

        100% {
            transform: scale(1);
        }
    }

    .topbar .navbar .links {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100vh;
    }

    .topbar .navbar .links a {
        padding: 1vh 0;
    }
}

.menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 98%;
    height: auto;
    background-color: #1a1919;
    border-radius: 10px;
    margin: 1%;
}

.menu a {
    text-decoration: none;
    margin: 0.5% 1%;
    color: #ccc;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.menu a:hover {
    text-decoration: underline;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.menu h2, .menu h3 {
    margin: 1%;
}

.parties {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0 1%;
}

.parties a {
    text-decoration: none;
    color: blue;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.parties a:hover {
    text-decoration: underline;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.warning {
    text-align: center;
    color: red;
}

.gobuster-dirbuster-dirsearch_img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.gobuster-dirbuster-dirsearch_img img {
    margin: 0 1%;
    width: 20%;
    height: auto;
    border-radius: 10px;
}

.nikto img {
    width: 10%;
    height: auto;
}

.joomscan img {
    border-radius: 10px;
    width: 30%;
    height: auto;
}

.wpscan img {
    border-radius: 10px;
    width: 30%;
    height: auto;
}

h1 {
    color: #fff;
}

h2, h3, h4, p {
    color: #ccc;
}